/* layout */
html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    margin: 0;
    /* background-color: #CCE8CF; */
}

#main{
    width: 900px;
    margin: auto;
}

#introduction{
    width: 250px;
    float: left;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 1em;
    text-align: left;
    color: blue;
    font-style: italic;
}

/* form */
#form{
    width: 100%;
}

#form .cell{
    width: 100%;
}

#form .button{
    width: 24%;
    height: 2em;
    margin: 2px;
}

#reset{
    background-color: coral;
    border: none;
}

.button {
    cursor: pointer;
    font-size: 1em;
}

header{
    width: 100%;
    height: 2em;
    background-color: coral;
}

#submit{
    background-color: rgb(84, 157, 253);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 2em;
    line-height: 20px;
    color: white;
}

#submit:focus {
    outline: 0; /*去掉发送后按钮的蓝框*/
}

#autoFill{
    border: 1px solid black;
}

#back {
    width: 200px;
    background-color: rgb(253, 169, 138);
    border: none;
    height: 2em;
    cursor: pointer;
    margin: auto;
    display: inline-block;
    font-size: 1em;
}

#logOut {
    background-color: rgb(253, 169, 138);
    border: none;
    height: 100%;
}

#logOutForm{
    width: 100px;
    height: 2em;
    float: right;
    margin-right: 80px;
}

a {
    text-decoration: none;
}

input{
    font-size: 1em;
}

#container{
    margin: auto;
    margin-top: 1em;
    float: right;
    width: 600px;
    height: 670px;
}

#content{
    width: 100%;
    height: 85%;
    background-color: antiquewhite;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#message {
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 80%;
    margin: 10px 5px;
    height: 2em;
    padding: 2px;
}

#message:focus {
    outline: 0;
}

.sent {
    margin: 5px 5px 15px 5px;
    text-align: left;
    word-wrap: break-word;
    max-width: 330px;
    min-width: 0;
    width: fit-content;
    padding: 2px 10px;
    background-color: yellow;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: red;
    color: red;
    align-self: flex-end;
}

.received {
    margin: 5px 5px 15px 5px;
    text-align: left;
    word-wrap: break-word;
    max-width: 330px;
    min-width: 0;
}

.receivedUser {
    padding: 2px 10px;
    font-size: 16px;
    width: fit-content;
    color: lightslategray;
}

.receivedMessage {
    padding: 2px 10px;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 1em;
    width: fit-content;
}

.time {
    margin: 5px auto;
    background-color: lightgray;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
}

#content::-webkit-scrollbar {
    width: 8px;
}
#content::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
}
#content::-webkit-scrollbar-thumb:hover {
    background-color: rgb(150, 150, 150);
}
#content::-webkit-scrollbar-track {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
}